<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<bean id="xmlBeansCorporation" class="com.xmlbuilds.XmlBeansCorporation">
		<property name="fileName" value="/src/main/xsd/corporation" />
	</bean>

	<bean id="xmlBeansPurchase" class="com.xmlbuilds.XmlBeansPurchase">
		<property name="fileName" value="/src/main/xsd/purchase" />
	</bean>

	<bean id="xmlBeansEasypo" class="com.xmlbuilds.XmlBeansEasypo">
		<property name="fileName" value="/src/main/xsd/easypo" />
	</bean>




</beans>